baseURL = 'https://mrata.github.io/'
languageCode = 'en-us'
title = 'The mrata blog'

[module]
  [[module.imports]]
    path = "github.com/hugo-sid/hugo-blog-awesome"

[[params.socialIcons]]
name = "github"
url = "https://github.com/MrAta"

[[params.socialIcons]]
name = "linkedin"
url = "https://www.linkedin.com/in/atafatahibaarzi/"


[params]
  goToTop = true

[caches]
  [caches.images]
    dir = ':cacheDir/images'

[menu]
  [[menu.main]] 
    # The page reference (pageRef) is useful for menu highlighting
    # When pageRef is set, setting `url` is optional; it will be used as a fallback if the page is not found.
    pageRef="/"
    name = 'Home'
    url = '/'
    weight = 10
  [[menu.main]]
    pageRef="posts"
    name = 'Posts'
    url = '/posts/'
    weight = 20
  [[menu.main]]
    pageRef="about"
    name = 'About'
    url = '/about/'
    weight = 30
